<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Ask ME Bot</title>
    <link href="/stylesheets/login.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/images/bot.png">

</head>


<body>
    <span id="header-content">
        <img id="botlogo" src="/images/bot.svg" />
        {{!-- <div><img id="spark" src="/images/spark.png" /></div> --}}
        <div class="header-titles">
            <h1>Ask ME</h1>
            <h6>Your Walmart Assistant</h6>
        </div>
    </span>
    <iframe id="frame-content" src="/login"></iframe>
</body>

</html>